@charset "UTF-8";
@import "Variable/_variable";

.integr_top {
    background-image: url("../images/integr/bgr_top.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    min-height: 410px;
    height: 100%;
    border-bottom: 2px solid #f57c00;
    position: relative;
    .wrapper {
        .integr_top_title {
            font-size: 60px;
            color: #FFFFFF;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            line-height: 1.167;
            text-align: center;
            -moz-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -webkit-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -ms-transform: matrix( 0.99903006789525,0,0,1,0,0);
        }
        .integr_top_descr {
            color: #FFFFFF;
            font-size: 30px;
            line-height: 1.2;
            text-align: center;
            margin-top: 50px;
            -moz-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -webkit-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -ms-transform: matrix( 0.99903006789525,0,0,1,0,0);
        }
        .mouseWheel {
            bottom: 40px;
        }
    }
    @media (max-width: 795px) {
        padding-top: 100px;
        .wrapper {
            .integr_top_title {
                font-size: 55px;
            }
            .integr_top_descr {
                font-size: 28px;
            }
        }
    }
    @media (max-width: 645px) {
        padding-top: 90px;
        .wrapper {
            .integr_top_title {
                font-size: 50px;
            }
            .integr_top_descr {
                font-size: 25px;
                margin-top: 65px;
            }
        }
    }
    @media (max-width: 545px) {
        .wrapper {
            .integr_top_title {
                font-size: 45px;
            }
            .integr_top_descr {
                font-size: 20px;
                margin-top: 75px;
            }
        }
    }
    @media (max-width: 460px) {
        .wrapper {
            .integr_top_title {
                font-size: 36px;
            }
            .integr_top_descr {
                font-size: 20px;
                margin-top: 50px;
            }
        }
    }
}
.integr_support {
    background-image: url("../images/integr/Circle_01.png");
    background-position: 10% bottom;
    background-repeat: no-repeat;
    background-size: auto;
    .wrapper {
        @include dsp-flex;
        @include align-items-center;
        @include justify-content-space-between;
        .integr_support_left {
            max-width: 510px;
            width: 100%;
            margin-right: 15px;
            .integr_support_title {
                font-size: 20px;
                color: $fonts;
                font-weight: 400;
                line-height: 1.4;
                text-align: left;
                margin-bottom: 35px;
                @media (max-width: 605px) {
                    font-size: 18px;
                    margin-bottom: 25px;
                }
            }
            .integr_support_description {
                position: relative;
                font-size: 16px;
                color: $fonts;
                font-weight: 400;
                line-height: 1.4;
                text-align: left;
                padding-left: 100px;
                &:before {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 70px;
                    left: 0;
                    top: 10px;
                    background-color: $yellow;
                }
                @media (max-width: 605px) {
                    font-size: 14px;
                    padding-left: 50px;
                    &:before {
                        width: 30px;
                        top: 7px;
                    }
                }
            }
        }
        .integr_support_img {
            margin-top: 30px;
            max-width: 570px;
            width: 100%;
            display: block;
            height: auto;
        }
        @media (max-width: 1120px) {
            .integr_support_img {
                max-width: 450px;
            }
        }
        @media (max-width: 945px) {
            .integr_support_img {
                max-width: 400px;
            }
        }
        @media (max-width: 880px) {
            @include flex-direction-column;
            .integr_support_left {
                max-width: 710px;
                margin-top: 35px;
                margin-right: 0;
                @include margin-left-right-auto;
            }
            .integr_support_img {
                @include margin-left-right-auto;
                margin-top: 35px;
                max-width: 570px;
            }
        }
    }
}