@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

section, footer {
  padding-left: 20px;
  padding-right: 20px; }

.green {
  color: #B7F76D; }

.black {
  color: #000000; }

.accent {
  color: #ffb100; }

.yellow {
  color: #ffd466; }

.seven_hundred {
  font-weight: 700; }

body {
  background: #FFFFFF; }

.integr_top {
  background-image: url("../images/integr/bgr_top.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  min-height: 410px;
  height: 100%;
  border-bottom: 2px solid #f57c00;
  position: relative; }
  .integr_top .wrapper .integr_top_title {
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.167;
    text-align: center;
    -moz-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -ms-transform: matrix(0.99903, 0, 0, 1, 0, 0); }
  .integr_top .wrapper .integr_top_descr {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-top: 50px;
    -moz-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -ms-transform: matrix(0.99903, 0, 0, 1, 0, 0); }
  .integr_top .wrapper .mouseWheel {
    bottom: 40px; }
  @media (max-width: 795px) {
    .integr_top {
      padding-top: 100px; }
      .integr_top .wrapper .integr_top_title {
        font-size: 55px; }
      .integr_top .wrapper .integr_top_descr {
        font-size: 28px; } }
  @media (max-width: 645px) {
    .integr_top {
      padding-top: 90px; }
      .integr_top .wrapper .integr_top_title {
        font-size: 50px; }
      .integr_top .wrapper .integr_top_descr {
        font-size: 25px;
        margin-top: 65px; } }
  @media (max-width: 545px) {
    .integr_top .wrapper .integr_top_title {
      font-size: 45px; }
    .integr_top .wrapper .integr_top_descr {
      font-size: 20px;
      margin-top: 75px; } }
  @media (max-width: 460px) {
    .integr_top .wrapper .integr_top_title {
      font-size: 36px; }
    .integr_top .wrapper .integr_top_descr {
      font-size: 20px;
      margin-top: 50px; } }

.integr_support {
  background-image: url("../images/integr/Circle_01.png");
  background-position: 10% bottom;
  background-repeat: no-repeat;
  background-size: auto; }
  .integr_support .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_support .wrapper .integr_support_left {
      max-width: 510px;
      width: 100%;
      margin-right: 15px; }
      .integr_support .wrapper .integr_support_left .integr_support_title {
        font-size: 20px;
        color: #263139;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 35px; }
        @media (max-width: 605px) {
          .integr_support .wrapper .integr_support_left .integr_support_title {
            font-size: 18px;
            margin-bottom: 25px; } }
      .integr_support .wrapper .integr_support_left .integr_support_description {
        position: relative;
        font-size: 16px;
        color: #263139;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        padding-left: 100px; }
        .integr_support .wrapper .integr_support_left .integr_support_description:before {
          position: absolute;
          content: '';
          height: 1px;
          width: 70px;
          left: 0;
          top: 10px;
          background-color: #ff8a00; }
        @media (max-width: 605px) {
          .integr_support .wrapper .integr_support_left .integr_support_description {
            font-size: 14px;
            padding-left: 50px; }
            .integr_support .wrapper .integr_support_left .integr_support_description:before {
              width: 30px;
              top: 7px; } }
    .integr_support .wrapper .integr_support_img {
      margin-top: 30px;
      max-width: 570px;
      width: 100%;
      display: block;
      height: auto; }
    @media (max-width: 1120px) {
      .integr_support .wrapper .integr_support_img {
        max-width: 450px; } }
    @media (max-width: 945px) {
      .integr_support .wrapper .integr_support_img {
        max-width: 400px; } }
    @media (max-width: 880px) {
      .integr_support .wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_support .wrapper .integr_support_left {
          max-width: 710px;
          margin-top: 35px;
          margin-right: 0;
          margin-left: auto;
          margin-right: auto; }
        .integr_support .wrapper .integr_support_img {
          margin-left: auto;
          margin-right: auto;
          margin-top: 35px;
          max-width: 570px; } }

.integr_whom {
  background-color: #f2f4f9;
  padding: 100px 20px; }
  .integr_whom .wrapper .integr_whom_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px; }
  .integr_whom .wrapper .integr_whom_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px; }
  .integr_whom .wrapper .integr_whom_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_whom .wrapper .integr_whom_items .integr_whom_item {
      max-width: 260px;
      width: 100%; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_img {
        display: block;
        max-width: 160px;
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_span {
        font-size: 16px;
        color: #484846;
        line-height: 1.563;
        text-align: center; }
  @media (max-width: 1200px) {
    .integr_whom .wrapper .integr_whom_title {
      font-size: 35px;
      margin-bottom: 35px; }
    .integr_whom .wrapper .integr_whom_description {
      font-size: 19px;
      margin-bottom: 45px; }
    .integr_whom .wrapper .integr_whom_items .integr_whom_item {
      max-width: 220px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_img {
        max-width: 120px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_span {
        font-size: 15px; } }
  @media (max-width: 915px) {
    .integr_whom .wrapper .integr_whom_title {
      font-size: 30px;
      margin-bottom: 30px; }
    .integr_whom .wrapper .integr_whom_description {
      font-size: 18px;
      margin-bottom: 40px; }
    .integr_whom .wrapper .integr_whom_items {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      max-width: 560px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item {
        max-width: 260px;
        margin-bottom: 40px; }
        .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_img {
          display: block;
          max-width: 160px;
          width: 100%;
          height: auto;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px; }
        .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_span {
          font-size: 16px;
          color: #484846;
          line-height: 1.563;
          text-align: center; } }
  @media (max-width: 570px) {
    .integr_whom .wrapper .integr_whom_title {
      font-size: 25px;
      margin-bottom: 27px; }
    .integr_whom .wrapper .integr_whom_description {
      font-size: 17px;
      margin-bottom: 50px; }
    .integr_whom .wrapper .integr_whom_items {
      max-width: 260px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item {
        margin-bottom: 30px; } }
  @media (max-width: 915px) {
    .integr_whom {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_whom {
      padding-top: 70px;
      padding-bottom: 40px; } }

.integr_kind {
  background-image: url("../images/integr/Circle_02.png");
  background-position: left 30%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px 20px; }
  .integr_kind .wrapper .integr_kind_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px; }
  .integr_kind .wrapper .iintegr_kind_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 75px; }
  .integr_kind .wrapper .integr_kind_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex; }
    .integr_kind .wrapper .integr_kind_items .integr_kind_item {
      max-width: 570px;
      width: 100%;
      margin-right: 30px; }
      .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
        max-width: 570px;
        width: 100%;
        font-size: 16px;
        color: #484846;
        font-weight: 400;
        line-height: 1.563;
        text-align: left;
        margin-bottom: 30px; }
      .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
        display: block;
        max-width: 645px;
        height: auto;
        margin-left: -75px; }
      @media (max-width: 1865px) {
        .integr_kind .wrapper .integr_kind_items .integr_kind_item {
          margin-right: 10px; } }
      @media (max-width: 1830px) {
        .integr_kind .wrapper .integr_kind_items .integr_kind_item {
          max-width: 500px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
            max-width: 570px;
            width: 100%;
            font-size: 16px;
            color: #484846;
            font-weight: 400;
            line-height: 1.563;
            text-align: left;
            margin-bottom: 30px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
            max-width: 535px;
            margin-left: -55px; } }
    .integr_kind .wrapper .integr_kind_items .integr_kind_img {
      display: block;
      max-width: 915px;
      width: 100%;
      height: auto;
      margin-right: -350px; }
    @media (max-width: 1690px) {
      .integr_kind .wrapper .integr_kind_items {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_item {
          margin-left: auto;
          margin-right: auto;
          max-width: 880px;
          margin-bottom: 35px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
            max-width: 880px;
            margin-bottom: 25px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
            max-width: 880px;
            margin-left: 0; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_img {
          max-width: 915px;
          margin-left: auto;
          margin-right: auto; } }
    @media (max-width: 705px) {
      .integr_kind .wrapper .integr_kind_items .integr_kind_item {
        margin-bottom: 30px; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
          margin-bottom: 20px;
          font-size: 15px; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
          width: 100%; }
      .integr_kind .wrapper .integr_kind_items .integr_kind_img {
        max-width: 915px;
        margin-left: auto;
        margin-right: auto; } }
  @media (max-width: 1200px) {
    .integr_kind .wrapper .integr_kind_title {
      font-size: 35px;
      margin-bottom: 35px; }
    .integr_kind .wrapper .iintegr_kind_description {
      font-size: 19px;
      margin-bottom: 65px; } }
  @media (max-width: 915px) {
    .integr_kind .wrapper .integr_kind_title {
      font-size: 30px;
      margin-bottom: 30px; }
    .integr_kind .wrapper .iintegr_kind_description {
      font-size: 18px; } }
  @media (max-width: 570px) {
    .integr_kind .wrapper .integr_kind_title {
      font-size: 25px;
      margin-bottom: 27px; }
    .integr_kind .wrapper .iintegr_kind_description {
      font-size: 17px;
      margin-bottom: 50px; } }
  @media (max-width: 915px) {
    .integr_kind {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_kind {
      padding-top: 70px;
      padding-bottom: 40px; } }

.integr_capabilities {
  background-color: #f2f4f9;
  padding: 100px 20px; }
  .integr_capabilities .wrapper .integr_capabilities_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px; }
  .integr_capabilities .wrapper .integr_capabilities_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px; }
  .integr_capabilities .wrapper .capabilities_items_block {
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_capabilities .wrapper .capabilities_items_block .capabilities_items {
      max-width: 560px; }
      .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        margin-bottom: 35px; }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_img {
          margin-top: 8px;
          display: block;
          max-width: 60px;
          width: auto;
          max-height: 60px;
          margin-right: 30px; }
          @media (max-width: 500px) {
            .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_img {
              max-width: 50px;
              max-height: 50px;
              margin-right: 20px; } }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_span {
          max-width: 460px;
          font-size: 16px;
          color: #484846;
          line-height: 1.563;
          text-align: left; }
          @media (max-width: 500px) {
            .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_span {
              font-size: 14px; } }
      .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item:last-child {
        margin-bottom: 0; }
    .integr_capabilities .wrapper .capabilities_items_block .capabilities_items_block_img {
      max-width: 570px;
      width: 100%;
      height: auto;
      display: block; }
    @media (max-width: 1095px) {
      .integr_capabilities .wrapper .capabilities_items_block {
        margin-bottom: 30px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items {
          order: 1;
          margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto; }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items_block_img {
          order: 2;
          margin-left: auto;
          margin-right: auto; } }
  .integr_capabilities .wrapper .capabilities_items_block:last-child {
    margin-bottom: 70px; }
    @media (max-width: 1100px) {
      .integr_capabilities .wrapper .capabilities_items_block:last-child {
        margin-bottom: 60px; } }
  @media (max-width: 1200px) {
    .integr_capabilities .wrapper .integr_capabilities_title {
      font-size: 35px; }
    .integr_capabilities .wrapper .integr_capabilities_description {
      font-size: 19px;
      margin-bottom: 45px; } }
  @media (max-width: 915px) {
    .integr_capabilities .wrapper .integr_capabilities_title {
      font-size: 30px;
      margin-bottom: 27px; }
    .integr_capabilities .wrapper .integr_capabilities_description {
      font-size: 18px; } }
  @media (max-width: 570px) {
    .integr_capabilities .wrapper .integr_capabilities_title {
      font-size: 25px;
      margin-bottom: 24px; }
    .integr_capabilities .wrapper .integr_capabilities_description {
      font-size: 17px;
      margin-bottom: 40px; } }
  .integr_capabilities .alternative_wrapper {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 25px 0;
    background-image: url("../images/integr/bgr_shema.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px; }
    @media (max-width: 1255px) {
      .integr_capabilities .alternative_wrapper {
        padding: 25px 20px;
        width: auto; } }
    .integr_capabilities .alternative_wrapper .wrapper {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center; }
      .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities {
        max-width: 550px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
          font-size: 30px;
          color: #FFFFFF;
          line-height: 1.2;
          text-align: left;
          margin-bottom: 15px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_description {
          font-size: 16px;
          color: #FFFFFF;
          line-height: 1.563;
          text-align: left; }
      .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities_img {
        max-width: 595px;
        width: 100%;
        height: auto;
        display: block; }
      @media (max-width: 1200px) {
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
          font-size: 25px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities_img {
          max-width: 490px; } }
      @media (max-width: 955px) {
        .integr_capabilities .alternative_wrapper .wrapper {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities {
            max-width: 850px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px; }
            .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
              text-align: center;
              font-size: 23px; }
            .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_description {
              text-align: center; }
          .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities_img {
            max-width: 595px;
            margin-left: auto;
            margin-right: auto; } }
      @media (max-width: 575px) {
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
          font-size: 20px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_description {
          font-size: 14px; } }
  @media (max-width: 915px) {
    .integr_capabilities {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_capabilities {
      padding-top: 70px;
      padding-bottom: 40px; } }
