@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

section, footer {
  padding-left: 20px;
  padding-right: 20px; }

.green {
  color: #B7F76D; }

.black {
  color: #000000; }

.accent {
  color: #ffb100; }

.yellow {
  color: #ffd466; }

.seven_hundred {
  font-weight: 700; }

body {
  background: #FFFFFF; }

.integr_top {
  background-image: url("../images/integr/bgr_top.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  min-height: 410px;
  height: 100%;
  border-bottom: 2px solid #f57c00;
  position: relative; }
  .integr_top .wrapper .integr_top_title {
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.167;
    text-align: center;
    -moz-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -ms-transform: matrix(0.99903, 0, 0, 1, 0, 0); }
  .integr_top .wrapper .integr_top_descr {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-top: 50px;
    -moz-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(0.99903, 0, 0, 1, 0, 0);
    -ms-transform: matrix(0.99903, 0, 0, 1, 0, 0); }
  .integr_top .wrapper .mouseWheel {
    bottom: 40px; }
  @media (max-width: 795px) {
    .integr_top {
      padding-top: 100px; }
      .integr_top .wrapper .integr_top_title {
        font-size: 55px; }
      .integr_top .wrapper .integr_top_descr {
        font-size: 28px; } }
  @media (max-width: 645px) {
    .integr_top {
      padding-top: 90px; }
      .integr_top .wrapper .integr_top_title {
        font-size: 50px; }
      .integr_top .wrapper .integr_top_descr {
        font-size: 25px;
        margin-top: 65px; } }
  @media (max-width: 545px) {
    .integr_top .wrapper .integr_top_title {
      font-size: 45px; }
    .integr_top .wrapper .integr_top_descr {
      font-size: 20px;
      margin-top: 75px; } }
  @media (max-width: 460px) {
    .integr_top .wrapper .integr_top_title {
      font-size: 36px; }
    .integr_top .wrapper .integr_top_descr {
      font-size: 20px;
      margin-top: 50px; } }

.integr_support {
  background-image: url("../images/integr/Circle_01.png");
  background-position: 10% bottom;
  background-repeat: no-repeat;
  background-size: auto; }
  .integr_support .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_support .wrapper .integr_support_left {
      max-width: 510px;
      width: 100%;
      margin-right: 15px; }
      .integr_support .wrapper .integr_support_left .integr_support_title {
        font-size: 20px;
        color: #263139;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 35px; }
        @media (max-width: 605px) {
          .integr_support .wrapper .integr_support_left .integr_support_title {
            font-size: 18px;
            margin-bottom: 25px; } }
      .integr_support .wrapper .integr_support_left .integr_support_description {
        position: relative;
        font-size: 16px;
        color: #263139;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        padding-left: 100px; }
        .integr_support .wrapper .integr_support_left .integr_support_description:before {
          position: absolute;
          content: '';
          height: 1px;
          width: 70px;
          left: 0;
          top: 10px;
          background-color: #ff8a00; }
        @media (max-width: 605px) {
          .integr_support .wrapper .integr_support_left .integr_support_description {
            font-size: 14px;
            padding-left: 50px; }
            .integr_support .wrapper .integr_support_left .integr_support_description:before {
              width: 30px;
              top: 7px; } }
    .integr_support .wrapper .integr_support_img {
      margin-top: 30px;
      max-width: 570px;
      width: 100%;
      display: block;
      height: auto; }
    @media (max-width: 1120px) {
      .integr_support .wrapper .integr_support_img {
        max-width: 450px; } }
    @media (max-width: 945px) {
      .integr_support .wrapper .integr_support_img {
        max-width: 400px; } }
    @media (max-width: 880px) {
      .integr_support .wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_support .wrapper .integr_support_left {
          max-width: 710px;
          margin-top: 35px;
          margin-right: 0;
          margin-left: auto;
          margin-right: auto; }
        .integr_support .wrapper .integr_support_img {
          margin-left: auto;
          margin-right: auto;
          margin-top: 35px;
          max-width: 570px; } }

.integr_whom {
  background-color: #f2f4f9;
  padding: 100px 20px; }
  .integr_whom .wrapper .integr_whom_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px; }
  .integr_whom .wrapper .integr_whom_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px; }
  .integr_whom .wrapper .integr_whom_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_whom .wrapper .integr_whom_items .integr_whom_item {
      max-width: 260px;
      width: 100%; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_img {
        display: block;
        max-width: 160px;
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_span {
        font-size: 16px;
        color: #484846;
        line-height: 1.563;
        text-align: center; }
  @media (max-width: 1200px) {
    .integr_whom .wrapper .integr_whom_title {
      font-size: 35px;
      margin-bottom: 35px; }
    .integr_whom .wrapper .integr_whom_description {
      font-size: 19px;
      margin-bottom: 45px; }
    .integr_whom .wrapper .integr_whom_items .integr_whom_item {
      max-width: 220px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_img {
        max-width: 120px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_span {
        font-size: 15px; } }
  @media (max-width: 915px) {
    .integr_whom .wrapper .integr_whom_title {
      font-size: 30px;
      margin-bottom: 30px; }
    .integr_whom .wrapper .integr_whom_description {
      font-size: 18px;
      margin-bottom: 40px; }
    .integr_whom .wrapper .integr_whom_items {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      max-width: 560px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item {
        max-width: 260px;
        margin-bottom: 40px; }
        .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_img {
          display: block;
          max-width: 160px;
          width: 100%;
          height: auto;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px; }
        .integr_whom .wrapper .integr_whom_items .integr_whom_item .integr_whom_item_span {
          font-size: 16px;
          color: #484846;
          line-height: 1.563;
          text-align: center; } }
  @media (max-width: 570px) {
    .integr_whom .wrapper .integr_whom_title {
      font-size: 25px;
      margin-bottom: 27px; }
    .integr_whom .wrapper .integr_whom_description {
      font-size: 17px;
      margin-bottom: 50px; }
    .integr_whom .wrapper .integr_whom_items {
      max-width: 260px; }
      .integr_whom .wrapper .integr_whom_items .integr_whom_item {
        margin-bottom: 30px; } }
  @media (max-width: 915px) {
    .integr_whom {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_whom {
      padding-top: 70px;
      padding-bottom: 40px; } }

.integr_kind {
  background-image: url("../images/integr/Circle_02.png");
  background-position: left 30%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px 20px; }
  .integr_kind .wrapper .integr_kind_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px; }
  .integr_kind .wrapper .iintegr_kind_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 75px; }
  .integr_kind .wrapper .integr_kind_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex; }
    .integr_kind .wrapper .integr_kind_items .integr_kind_item {
      max-width: 570px;
      width: 100%;
      margin-right: 30px; }
      .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
        max-width: 570px;
        width: 100%;
        font-size: 16px;
        color: #484846;
        font-weight: 400;
        line-height: 1.563;
        text-align: left;
        margin-bottom: 30px; }
      .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
        display: block;
        max-width: 645px;
        height: auto;
        margin-left: -75px; }
      @media (max-width: 1865px) {
        .integr_kind .wrapper .integr_kind_items .integr_kind_item {
          margin-right: 10px; } }
      @media (max-width: 1830px) {
        .integr_kind .wrapper .integr_kind_items .integr_kind_item {
          max-width: 500px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
            max-width: 570px;
            width: 100%;
            font-size: 16px;
            color: #484846;
            font-weight: 400;
            line-height: 1.563;
            text-align: left;
            margin-bottom: 30px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
            max-width: 535px;
            margin-left: -55px; } }
    .integr_kind .wrapper .integr_kind_items .integr_kind_img {
      display: block;
      max-width: 915px;
      width: 100%;
      height: auto;
      margin-right: -350px; }
    @media (max-width: 1690px) {
      .integr_kind .wrapper .integr_kind_items {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_item {
          margin-left: auto;
          margin-right: auto;
          max-width: 880px;
          margin-bottom: 35px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
            max-width: 880px;
            margin-bottom: 25px; }
          .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
            max-width: 880px;
            margin-left: 0; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_img {
          max-width: 915px;
          margin-left: auto;
          margin-right: auto; } }
    @media (max-width: 705px) {
      .integr_kind .wrapper .integr_kind_items .integr_kind_item {
        margin-bottom: 30px; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_span {
          margin-bottom: 20px;
          font-size: 15px; }
        .integr_kind .wrapper .integr_kind_items .integr_kind_item .integr_kind_item_img {
          width: 100%; }
      .integr_kind .wrapper .integr_kind_items .integr_kind_img {
        max-width: 915px;
        margin-left: auto;
        margin-right: auto; } }
  @media (max-width: 1200px) {
    .integr_kind .wrapper .integr_kind_title {
      font-size: 35px;
      margin-bottom: 35px; }
    .integr_kind .wrapper .iintegr_kind_description {
      font-size: 19px;
      margin-bottom: 65px; } }
  @media (max-width: 915px) {
    .integr_kind .wrapper .integr_kind_title {
      font-size: 30px;
      margin-bottom: 30px; }
    .integr_kind .wrapper .iintegr_kind_description {
      font-size: 18px; } }
  @media (max-width: 570px) {
    .integr_kind .wrapper .integr_kind_title {
      font-size: 25px;
      margin-bottom: 27px; }
    .integr_kind .wrapper .iintegr_kind_description {
      font-size: 17px;
      margin-bottom: 50px; } }
  @media (max-width: 915px) {
    .integr_kind {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_kind {
      padding-top: 70px;
      padding-bottom: 40px; } }

.integr_capabilities {
  background-color: #f2f4f9;
  padding: 100px 20px; }
  .integr_capabilities .wrapper .integr_capabilities_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px; }
  .integr_capabilities .wrapper .integr_capabilities_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px; }
  .integr_capabilities .wrapper .capabilities_items_block {
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_capabilities .wrapper .capabilities_items_block .capabilities_items {
      max-width: 560px; }
      .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        margin-bottom: 35px; }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_img {
          margin-top: 8px;
          display: block;
          max-width: 60px;
          width: auto;
          max-height: 60px;
          margin-right: 30px; }
          @media (max-width: 500px) {
            .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_img {
              max-width: 50px;
              max-height: 50px;
              margin-right: 20px; } }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_span {
          max-width: 460px;
          font-size: 16px;
          color: #484846;
          line-height: 1.563;
          text-align: left; }
          @media (max-width: 500px) {
            .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item .capabilities_item_span {
              font-size: 14px; } }
      .integr_capabilities .wrapper .capabilities_items_block .capabilities_items .capabilities_item:last-child {
        margin-bottom: 0; }
    .integr_capabilities .wrapper .capabilities_items_block .capabilities_items_block_img {
      max-width: 570px;
      width: 100%;
      height: auto;
      display: block; }
    @media (max-width: 1095px) {
      .integr_capabilities .wrapper .capabilities_items_block {
        margin-bottom: 30px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items {
          order: 1;
          margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto; }
        .integr_capabilities .wrapper .capabilities_items_block .capabilities_items_block_img {
          order: 2;
          margin-left: auto;
          margin-right: auto; } }
  .integr_capabilities .wrapper .capabilities_items_block:last-child {
    margin-bottom: 70px; }
    @media (max-width: 1100px) {
      .integr_capabilities .wrapper .capabilities_items_block:last-child {
        margin-bottom: 60px; } }
  @media (max-width: 1200px) {
    .integr_capabilities .wrapper .integr_capabilities_title {
      font-size: 35px; }
    .integr_capabilities .wrapper .integr_capabilities_description {
      font-size: 19px;
      margin-bottom: 45px; } }
  @media (max-width: 915px) {
    .integr_capabilities .wrapper .integr_capabilities_title {
      font-size: 30px;
      margin-bottom: 27px; }
    .integr_capabilities .wrapper .integr_capabilities_description {
      font-size: 18px; } }
  @media (max-width: 570px) {
    .integr_capabilities .wrapper .integr_capabilities_title {
      font-size: 25px;
      margin-bottom: 24px; }
    .integr_capabilities .wrapper .integr_capabilities_description {
      font-size: 17px;
      margin-bottom: 40px; } }
  .integr_capabilities .alternative_wrapper {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 25px 0;
    background-image: url("../images/integr/bgr_shema.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px; }
    @media (max-width: 1255px) {
      .integr_capabilities .alternative_wrapper {
        padding: 25px 20px;
        width: auto; } }
    .integr_capabilities .alternative_wrapper .wrapper {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center; }
      .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities {
        max-width: 550px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
          font-size: 30px;
          color: #FFFFFF;
          line-height: 1.2;
          text-align: left;
          margin-bottom: 15px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_description {
          font-size: 16px;
          color: #FFFFFF;
          line-height: 1.563;
          text-align: left; }
      .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities_img {
        max-width: 595px;
        width: 100%;
        height: auto;
        display: block; }
      @media (max-width: 1200px) {
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
          font-size: 25px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities_img {
          max-width: 490px; } }
      @media (max-width: 955px) {
        .integr_capabilities .alternative_wrapper .wrapper {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities {
            max-width: 850px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px; }
            .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
              text-align: center;
              font-size: 23px; }
            .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_description {
              text-align: center; }
          .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities_img {
            max-width: 595px;
            margin-left: auto;
            margin-right: auto; } }
      @media (max-width: 575px) {
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_title {
          font-size: 20px; }
        .integr_capabilities .alternative_wrapper .wrapper .alternative_capabilities .alternative_capabilities_description {
          font-size: 14px; } }
  @media (max-width: 915px) {
    .integr_capabilities {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_capabilities {
      padding-top: 70px;
      padding-bottom: 40px; } }

.integr_example {
  padding: 100px 20px 50px; }
  .integr_example .wrapper .example_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px; }
  .integr_example .wrapper .example_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px; }
  .integr_example .wrapper .example_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_example .wrapper .example_items .example_item {
      max-width: 570px;
      width: 100%; }
      .integr_example .wrapper .example_items .example_item .example_item_img {
        max-width: 570px;
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 30px; }
      .integr_example .wrapper .example_items .example_item .example_item_bottom {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex; }
        .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_check {
          max-width: 40px;
          max-height: 40px;
          margin-top: 5px;
          width: 100%;
          height: auto;
          display: block;
          border-radius: 50%;
          margin-right: 30px; }
        .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content {
          max-width: 430px;
          width: 100%;
          margin-bottom: 50px; }
          .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .example_item_bottom_control {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            max-width: 430px;
            width: 100%;
            margin-bottom: 30px; }
            .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .example_item_bottom_control .example_item_control {
              display: block;
              width: 50%;
              padding-bottom: 22px;
              border-bottom: 1px solid #C8D8DF;
              font-size: 15px;
              color: rgba(94, 102, 139, 0.5);
              font-weight: 700;
              text-transform: uppercase;
              line-height: 1.667;
              text-align: center; }
            .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .example_item_bottom_control .active {
              width: 50%;
              color: #5e668b;
              border-bottom: 3px solid #ffaf74;
              padding-bottom: 20px;
              margin-bottom: -1px; }
          .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .example_item_content {
            display: none;
            font-size: 16px;
            color: #484846;
            line-height: 1.563;
            text-align: left; }
          .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .active {
            display: block; }
    @media (max-width: 1185px) {
      .integr_example .wrapper .example_items {
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 500px) {
      .integr_example .wrapper .example_items .example_item .example_item_img {
        margin-bottom: 20px; }
      .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_check {
        display: none; }
      .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content {
        max-width: 455px; }
        .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .example_item_bottom_control {
          max-width: 455px;
          margin-bottom: 25px; }
        .integr_example .wrapper .example_items .example_item .example_item_bottom .example_item_bottom_content .example_item_content {
          font-size: 15px; } }
  @media (max-width: 1200px) {
    .integr_example .wrapper .example_title {
      font-size: 35px; }
    .integr_example .wrapper .example_description {
      font-size: 19px;
      margin-bottom: 45px; } }
  @media (max-width: 915px) {
    .integr_example .wrapper .example_title {
      font-size: 30px;
      margin-bottom: 27px; }
    .integr_example .wrapper .example_description {
      font-size: 18px; } }
  @media (max-width: 570px) {
    .integr_example .wrapper .example_title {
      font-size: 25px;
      margin-bottom: 24px; }
    .integr_example .wrapper .example_description {
      font-size: 17px;
      margin-bottom: 40px; } }
  @media (max-width: 915px) {
    .integr_example {
      padding-top: 85px;
      padding-bottom: 35px; } }
  @media (max-width: 570px) {
    .integr_example {
      padding-top: 70px;
      padding-bottom: 20px; } }

.integr_functions {
  background-color: #f2f4f9;
  padding: 100px 20px; }
  .integr_functions .wrapper .functions_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px; }
  .integr_functions .wrapper .functions_description {
    font-size: 20px;
    color: #484846;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 75px; }
  .integr_functions .wrapper .functions_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_functions .wrapper .functions_items .functions_item {
      margin-bottom: 75px;
      max-width: 570px;
      width: 100%;
      height: auto;
      display: block; }
      .integr_functions .wrapper .functions_items .functions_item .functions_item_title {
        font-size: 16px;
        color: #484846;
        font-weight: bold;
        line-height: 1.3;
        text-align: left;
        margin-bottom: 23px; }
      .integr_functions .wrapper .functions_items .functions_item .functions_item_li {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        max-width: 570px;
        width: 100%;
        margin-bottom: 23px; }
        .integr_functions .wrapper .functions_items .functions_item .functions_item_li .functions_item_li_circle {
          margin-top: 10px;
          width: 6px;
          height: 6px;
          border: 2px solid #feb40c;
          margin-right: 30px;
          border-radius: 100px; }
        .integr_functions .wrapper .functions_items .functions_item .functions_item_li .functions_item_li_span {
          font-size: 16px;
          color: #484846;
          line-height: 1.563;
          text-align: left;
          max-width: 500px;
          width: 100%; }
      .integr_functions .wrapper .functions_items .functions_item .functions_item_li:last-child {
        margin-bottom: 28px; }
      .integr_functions .wrapper .functions_items .functions_item .functions_item_block {
        padding: 25px 28px;
        border: 1px solid #f57c00;
        font-size: 16px;
        color: #484846;
        line-height: 1.563;
        text-align: left;
        border-radius: 5px; }
        .integr_functions .wrapper .functions_items .functions_item .functions_item_block a {
          font-size: 16px;
          color: #263139;
          line-height: 1.563;
          text-align: left;
          text-decoration: underline; }
    .integr_functions .wrapper .functions_items .functions_item:first-child {
      margin-right: 15px; }
    @media (max-width: 1145px) {
      .integr_functions .wrapper .functions_items {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .integr_functions .wrapper .functions_items .functions_item {
          order: 1;
          margin-left: auto;
          margin-right: auto; }
        .integr_functions .wrapper .functions_items .functions_item:first-child {
          order: 2;
          margin-left: auto;
          margin-right: auto; } }
  @media (max-width: 1200px) {
    .integr_functions .wrapper .functions_title {
      font-size: 35px; }
    .integr_functions .wrapper .functions_description {
      font-size: 19px;
      margin-bottom: 55px; } }
  @media (max-width: 915px) {
    .integr_functions .wrapper .functions_title {
      font-size: 30px;
      margin-bottom: 27px; }
    .integr_functions .wrapper .functions_description {
      font-size: 18px; } }
  @media (max-width: 570px) {
    .integr_functions .wrapper .functions_title {
      font-size: 25px;
      margin-bottom: 24px; }
    .integr_functions .wrapper .functions_description {
      font-size: 17px;
      margin-bottom: 40px; } }
  .integr_functions .functions_wrapper {
    background-image: url("../images/integr/bgr_man.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 30px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto; }
    .integr_functions .functions_wrapper .wrapper {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .integr_functions .functions_wrapper .wrapper .integr_functions_items {
        max-width: 525px;
        width: 100%; }
        .integr_functions .functions_wrapper .wrapper .integr_functions_items .integr_functions_item {
          font-size: 16px;
          color: #FFFFFF;
          line-height: 1.563;
          text-align: left;
          margin-bottom: 25px; }
        .integr_functions .functions_wrapper .wrapper .integr_functions_items .integr_functions_item:last-child {
          margin-bottom: 0; }
      .integr_functions .functions_wrapper .wrapper .integr_functions_item_img {
        max-width: 785px;
        width: 100%;
        height: auto;
        margin-top: -45px;
        margin-right: -215px;
        border-bottom-right-radius: 30px; }
    @media (max-width: 1645px) {
      .integr_functions .functions_wrapper {
        background-image: url("../images/integr/sloi_two.png");
        background-size: contain;
        margin-top: -45px;
        min-height: 445px; }
        .integr_functions .functions_wrapper .wrapper {
          padding-top: 80px; }
          .integr_functions .functions_wrapper .wrapper .integr_functions_item_img {
            display: none; } }
    @media (max-width: 1460px) {
      .integr_functions .functions_wrapper {
        min-height: 400px; }
        .integr_functions .functions_wrapper .wrapper {
          padding-top: 90px; } }
    @media (max-width: 1460px) {
      .integr_functions .functions_wrapper {
        background-image: url("../images/integr/bgr_man.jpg");
        background-size: cover;
        margin-top: 0;
        min-height: 400px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center; }
        .integr_functions .functions_wrapper .wrapper {
          padding-top: 75px;
          padding-bottom: 75px; } }
    @media (max-width: 1250px) {
      .integr_functions .functions_wrapper .wrapper {
        margin: 0 20px; } }
    @media (max-width: 430px) {
      .integr_functions .functions_wrapper .wrapper .integr_functions_items .integr_functions_item {
        font-size: 15px; } }
  @media (max-width: 915px) {
    .integr_functions {
      padding-top: 85px;
      padding-bottom: 45px; } }
  @media (max-width: 570px) {
    .integr_functions {
      padding-top: 70px;
      padding-bottom: 40px; } }

.integr_time {
  padding: 100px 20px 25px;
  background-image: url("../images/integr/Circle_03.png");
  background-repeat: no-repeat;
  background-position: right -20%;
  background-size: auto; }
  .integr_time .wrapper .time_title {
    font-size: 40px;
    color: #263139;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 110px; }
  .integr_time .wrapper .time_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_time .wrapper .time_items .time_item {
      background-image: url("../images/integr/puzzle.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      padding: 0 30px 20px;
      max-width: 310px;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 75px;
      min-height: 361px; }
      .integr_time .wrapper .time_items .time_item .time_item_img {
        max-width: 108px;
        width: 100%;
        height: auto;
        display: block;
        margin-top: -55px; }
      .integr_time .wrapper .time_items .time_item .time_item_title {
        font-size: 20px;
        color: #263139;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.25;
        text-align: left;
        margin-bottom: 27px; }
      .integr_time .wrapper .time_items .time_item .time_item_description {
        font-size: 16px;
        margin-bottom: 20px;
        color: #484846;
        line-height: 1.563;
        text-align: left; }
      .integr_time .wrapper .time_items .time_item .time_item_bold {
        font-size: 30px;
        color: #484846;
        font-weight: bold;
        line-height: 0.833;
        text-align: left;
        margin-bottom: 18px; }
      .integr_time .wrapper .time_items .time_item .time_item_seven {
        font-size: 20px;
        color: #484846;
        font-weight: bold;
        line-height: 1.25;
        text-align: left; }
    .integr_time .wrapper .time_items .time_item:nth-child(2) {
      background-image: url("../images/integr/Coin.jpg"); }
    .integr_time .wrapper .time_items .time_item:nth-child(3) {
      background-image: url("../images/integr/Gear.jpg"); }
    @media (max-width: 1180px) {
      .integr_time .wrapper .time_items {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 770px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 800px) {
      .integr_time .wrapper .time_items {
        max-width: 370px; } }
    @media (max-width: 420px) {
      .integr_time .wrapper .time_items .time_item {
        padding: 0 20px 20px;
        margin-bottom: 50px; }
        .integr_time .wrapper .time_items .time_item .time_item_img {
          max-width: 95px;
          margin-top: -25px; }
        .integr_time .wrapper .time_items .time_item .time_item_title {
          font-size: 18px;
          margin-bottom: 25px; }
        .integr_time .wrapper .time_items .time_item .time_item_description {
          font-size: 15px;
          margin-bottom: 17px; }
        .integr_time .wrapper .time_items .time_item .time_item_bold {
          font-size: 25px;
          margin-bottom: 15px; }
        .integr_time .wrapper .time_items .time_item .time_item_seven {
          font-size: 18px; } }
  @media (max-width: 1200px) {
    .integr_time .wrapper .time_title {
      font-size: 35px;
      margin-bottom: 100px; } }
  @media (max-width: 915px) {
    .integr_time .wrapper .time_title {
      font-size: 30px;
      margin-bottom: 80px; } }
  @media (max-width: 570px) {
    .integr_time .wrapper .time_title {
      font-size: 25px;
      margin-bottom: 60px; } }
  @media (max-width: 915px) {
    .integr_time {
      padding-top: 85px;
      padding-bottom: 10px; } }
  @media (max-width: 570px) {
    .integr_time {
      padding-top: 70px;
      padding-bottom: 20px; } }

.integr_send {
  background-color: #f2f4f9;
  padding: 100px 20px;
  background-image: url("../images/integr/revrait.png");
  background-repeat: no-repeat;
  background-position: 3% top;
  background-size: auto; }
  .integr_send .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .integr_send .wrapper .integr_send_item {
      max-width: 570px;
      width: 100%; }
      .integr_send .wrapper .integr_send_item .integr_send_title {
        font-size: 40px;
        color: #263139;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 20px; }
      .integr_send .wrapper .integr_send_item .integr_send_description {
        font-size: 16px;
        color: #484846;
        line-height: 1.563;
        text-align: left; }
      .integr_send .wrapper .integr_send_item .send_input {
        border-style: solid;
        border-width: 1px;
        border-color: #e0e4ef;
        border-radius: 5px;
        background-color: white;
        max-width: 570px;
        width: -webkit-fill-available;
        padding: 20px 15px;
        font-size: 16px;
        color: #cbcaca;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 10px;
        display: block; }
        .integr_send .wrapper .integr_send_item .send_input::-webkit-input-placeholder {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          line-height: 1.2;
          color: #cbcaca; }
        .integr_send .wrapper .integr_send_item .send_input::-moz-placeholder {
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          line-height: 1.2;
          color: #cbcaca; }
        .integr_send .wrapper .integr_send_item .send_input:-ms-input-placeholder {
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          line-height: 1.2;
          color: #cbcaca; }
        .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill, .integr_send .wrapper .integr_send_item .send_input:focus-visible, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:hover, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:focus, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:focus-visible, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:hover, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:focus, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:hover, .integr_send .wrapper .integr_send_item .send_input:-webkit-autofill:focus {
          border-style: solid;
          border-width: 1px;
          border-color: #e0e4ef;
          border-radius: 5px;
          background-color: white;
          -webkit-text-fill-color: #CBCACA;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
          outline: none; }
      .integr_send .wrapper .integr_send_item .send_input:last-child {
        margin-bottom: 0; }
    .integr_send .wrapper .integr_send_item_bottom {
      padding-top: 30px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .integr_send .wrapper .integr_send_item_bottom .integr_send_item_button {
        cursor: pointer;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        max-width: 270px;
        width: 100%;
        background-color: #ff8a00;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        height: 60px;
        border-radius: 30px; }
      .integr_send .wrapper .integr_send_item_bottom .integr_send_item_span {
        max-width: 270px;
        width: 100%;
        font-size: 12px;
        color: #7f8890;
        line-height: 1.333;
        text-align: left; }
        .integr_send .wrapper .integr_send_item_bottom .integr_send_item_span a {
          text-decoration: underline;
          font-size: 12px;
          color: #7f8890;
          line-height: 1.333;
          text-align: left; }
