@charset "UTF-8";
@import "Variable/_variable";

.integr_top {
    background-image: url("../images/integr/bgr_top.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    min-height: 410px;
    height: 100%;
    border-bottom: 2px solid #f57c00;
    position: relative;
    .wrapper {
        .integr_top_title {
            font-size: 60px;
            color: #FFFFFF;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            line-height: 1.167;
            text-align: center;
            -moz-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -webkit-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -ms-transform: matrix( 0.99903006789525,0,0,1,0,0);
        }
        .integr_top_descr {
            color: #FFFFFF;
            font-size: 30px;
            line-height: 1.2;
            text-align: center;
            margin-top: 50px;
            -moz-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -webkit-transform: matrix( 0.99903006789525,0,0,1,0,0);
            -ms-transform: matrix( 0.99903006789525,0,0,1,0,0);
        }
        .mouseWheel {
            bottom: 40px;
        }
    }
    @media (max-width: 795px) {
        padding-top: 100px;
        .wrapper {
            .integr_top_title {
                font-size: 55px;
            }
            .integr_top_descr {
                font-size: 28px;
            }
        }
    }
    @media (max-width: 645px) {
        padding-top: 90px;
        .wrapper {
            .integr_top_title {
                font-size: 50px;
            }
            .integr_top_descr {
                font-size: 25px;
                margin-top: 65px;
            }
        }
    }
    @media (max-width: 545px) {
        .wrapper {
            .integr_top_title {
                font-size: 45px;
            }
            .integr_top_descr {
                font-size: 20px;
                margin-top: 75px;
            }
        }
    }
    @media (max-width: 460px) {
        .wrapper {
            .integr_top_title {
                font-size: 36px;
            }
            .integr_top_descr {
                font-size: 20px;
                margin-top: 50px;
            }
        }
    }
}
.integr_support {
    background-image: url("../images/integr/Circle_01.png");
    background-position: 10% bottom;
    background-repeat: no-repeat;
    background-size: auto;
    .wrapper {
        @include dsp-flex;
        @include align-items-center;
        @include justify-content-space-between;
        .integr_support_left {
            max-width: 510px;
            width: 100%;
            margin-right: 15px;
            .integr_support_title {
                font-size: 20px;
                color: $fonts;
                font-weight: 400;
                line-height: 1.4;
                text-align: left;
                margin-bottom: 35px;
                @media (max-width: 605px) {
                    font-size: 18px;
                    margin-bottom: 25px;
                }
            }
            .integr_support_description {
                position: relative;
                font-size: 16px;
                color: $fonts;
                font-weight: 400;
                line-height: 1.4;
                text-align: left;
                padding-left: 100px;
                &:before {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 70px;
                    left: 0;
                    top: 10px;
                    background-color: $yellow;
                }
                @media (max-width: 605px) {
                    font-size: 14px;
                    padding-left: 50px;
                    &:before {
                        width: 30px;
                        top: 7px;
                    }
                }
            }
        }
        .integr_support_img {
            margin-top: 30px;
            max-width: 570px;
            width: 100%;
            display: block;
            height: auto;
        }
        @media (max-width: 1120px) {
            .integr_support_img {
                max-width: 450px;
            }
        }
        @media (max-width: 945px) {
            .integr_support_img {
                max-width: 400px;
            }
        }
        @media (max-width: 880px) {
            @include flex-direction-column;
            .integr_support_left {
                max-width: 710px;
                margin-top: 35px;
                margin-right: 0;
                @include margin-left-right-auto;
            }
            .integr_support_img {
                @include margin-left-right-auto;
                margin-top: 35px;
                max-width: 570px;
            }
        }
    }
}
.integr_whom {
    background-color: $greyBackground;
    padding: 100px 20px;
    .wrapper {
        .integr_whom_title {
            font-size: 40px;
            color: $fonts;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 40px;
        }
        .integr_whom_description {
            font-size: 20px;
            color: $fontsLight;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 50px;
        }
        .integr_whom_items {
            @include dsp-flex;
            @include justify-content-space-between;
            .integr_whom_item {
                max-width: 260px;
                width: 100%;
                .integr_whom_item_img {
                    display: block;
                    max-width: 160px;
                    width: 100%;
                    height: auto;
                    border-radius: 50%;
                    @include margin-left-right-auto;
                    margin-bottom: 20px;
                }
                .integr_whom_item_span {
                    font-size: 16px;
                    color: $fontsLight;
                    line-height: 1.563;
                    text-align: center;
                }
            }
        }
        @media (max-width: 1200px) {
            .integr_whom_title {
                font-size: 35px;
                margin-bottom: 35px;
            }
            .integr_whom_description {
                font-size: 19px;
                margin-bottom: 45px;
            }
            .integr_whom_items {
                .integr_whom_item {
                    max-width: 220px;
                    .integr_whom_item_img {
                        max-width: 120px;
                    }
                    .integr_whom_item_span {
                        font-size: 15px;
                    }
                }
            }
        }
        @media (max-width: 915px) {
            .integr_whom_title {
                font-size: 30px;
                margin-bottom: 30px;
            }
            .integr_whom_description {
                font-size: 18px;
                margin-bottom: 40px;
            }
            .integr_whom_items {
                @include flex-wrap-wrap;
                @include margin-left-right-auto;
                max-width: 560px;
                .integr_whom_item {
                    max-width: 260px;
                    margin-bottom: 40px;
                    .integr_whom_item_img {
                        display: block;
                        max-width: 160px;
                        width: 100%;
                        height: auto;
                        border-radius: 50%;
                        @include margin-left-right-auto;
                        margin-bottom: 20px;
                    }
                    .integr_whom_item_span {
                        font-size: 16px;
                        color: $fontsLight;
                        line-height: 1.563;
                        text-align: center;
                    }
                }
            }
        }
        @media (max-width: 570px) {
            .integr_whom_title {
                font-size: 25px;
                margin-bottom: 27px;
            }
            .integr_whom_description {
                font-size: 17px;
                margin-bottom: 50px;
            }
            .integr_whom_items {
                max-width: 260px;
                .integr_whom_item {
                    margin-bottom: 30px;
                }
            }
        }
    }
    @media (max-width: 915px) {
        padding-top: 85px;
        padding-bottom: 45px;
    }
    @media (max-width: 570px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}
.integr_kind {
    background-image: url("../images/integr/Circle_02.png");
    background-position: left 30%;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 100px 20px;
    .wrapper {
        .integr_kind_title {
            font-size: 40px;
            color: $fonts;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 40px;
        }
        .iintegr_kind_description {
            font-size: 20px;
            color: $fontsLight;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 75px;
        }
        .integr_kind_items {
            @include dsp-flex;
            .integr_kind_item {
                max-width: 570px;
                width: 100%;
                margin-right: 30px;
                .integr_kind_item_span {
                    max-width: 570px;
                    width: 100%;
                    font-size: 16px;
                    color: $fontsLight;
                    font-weight: 400;
                    line-height: 1.563;
                    text-align: left;
                    margin-bottom: 30px;
                }
                .integr_kind_item_img {
                    display: block;
                    max-width: 645px;
                    height: auto;
                    margin-left: -75px;
                }
                @media (max-width: 1865px) {
                    margin-right: 10px;
                }
                @media (max-width: 1830px) {
                    max-width: 500px;
                    .integr_kind_item_span {
                        max-width: 570px;
                        width: 100%;
                        font-size: 16px;
                        color: $fontsLight;
                        font-weight: 400;
                        line-height: 1.563;
                        text-align: left;
                        margin-bottom: 30px;
                    }
                    .integr_kind_item_img {
                        max-width: 535px;
                        margin-left: -55px;
                    }
                }
            }
            .integr_kind_img {
                display: block;
                max-width: 915px;
                width: 100%;
                height: auto;
                margin-right: -350px;
            }
            @media (max-width: 1690px) {
                @include flex-direction-column;
                .integr_kind_item {
                    @include margin-left-right-auto;
                    max-width: 880px;
                    margin-bottom: 35px;
                    .integr_kind_item_span {
                        max-width: 880px;
                        margin-bottom: 25px;
                    }
                    .integr_kind_item_img {
                        max-width: 880px;
                        margin-left: 0;
                    }
                }
                .integr_kind_img {
                    max-width: 915px;
                    @include margin-left-right-auto;
                }
            }
            @media (max-width: 705px) {
                .integr_kind_item {
                    margin-bottom: 30px;
                    .integr_kind_item_span {
                        margin-bottom: 20px;
                        font-size: 15px;
                    }
                    .integr_kind_item_img {
                        width: 100%;
                    }
                }
                .integr_kind_img {
                    max-width: 915px;
                    @include margin-left-right-auto;
                }
            }
        }
        @media (max-width: 1200px) {
            .integr_kind_title {
                font-size: 35px;
                margin-bottom: 35px;
            }
            .iintegr_kind_description {
                font-size: 19px;
                margin-bottom: 65px;
            }
        }
        @media (max-width: 915px) {
            .integr_kind_title {
                font-size: 30px;
                margin-bottom: 30px;
            }
            .iintegr_kind_description {
                font-size: 18px;
            }
        }
        @media (max-width: 570px) {
            .integr_kind_title {
                font-size: 25px;
                margin-bottom: 27px;
            }
            .iintegr_kind_description {
                font-size: 17px;
                margin-bottom: 50px;
            }
        }
    }
    @media (max-width: 915px) {
        padding-top: 85px;
        padding-bottom: 45px;
    }
    @media (max-width: 570px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}
.integr_capabilities {
    .wrapper {
        .integr_capabilities_title {
            font-size: 40px;
            color: $fonts;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 30px;
        }
        .integr_capabilities_description {
            font-size: 20px;
            color: $fontsLight;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 50px;
        }
        .capabilities_items_block {
            margin-bottom: 30px;
            @include dsp-flex;
            @include align-items-center;
            @include justify-content-space-between;
            .capabilities_items {
                max-width: 560px;
                .capabilities_item {
                    @include dsp-flex;
                    margin-bottom: 35px;
                    .capabilities_item_img {
                        margin-top: 8px;
                        display: block;
                        max-width: 60px;
                        width: auto;
                        max-height: 60px;
                        margin-right: 30px;
                        @media (max-width: 500px) {
                            max-width: 50px;
                            max-height: 50px;
                            margin-right: 20px;
                        }
                    }
                    .capabilities_item_span {
                        max-width: 460px;
                        font-size: 16px;
                        color: $fontsLight;
                        line-height: 1.563;
                        text-align: left;
                        @media (max-width: 500px) {
                            font-size: 14px;
                        }
                    }
                }
                .capabilities_item:last-child {
                    margin-bottom: 0;
                }
            }
            .capabilities_items_block_img {
                max-width: 570px;
                width: 100%;
                height: auto;
                display: block;
            }
            @media (max-width: 1095px) {
                margin-bottom: 30px;
                @include flex-direction-column;
                .capabilities_items {
                    order: 1;
                    margin-bottom: 30px;
                    @include margin-left-right-auto;
                }
                .capabilities_items_block_img {
                    order: 2;
                    @include margin-left-right-auto;
                }
            }
        }
        .capabilities_items_block:last-child {
            margin-bottom: 70px;
            @media (max-width: 1100px) {
                margin-bottom: 60px;
            }
        }
        @media (max-width: 1200px) {
            .integr_capabilities_title {
                font-size: 35px;
            }
            .integr_capabilities_description {
                font-size: 19px;
                margin-bottom: 45px;
            }
        }
        @media (max-width: 915px) {
            .integr_capabilities_title {
                font-size: 30px;
                margin-bottom: 27px;
            }
            .integr_capabilities_description {
                font-size: 18px;
            }
        }
        @media (max-width: 570px) {
            .integr_capabilities_title {
                font-size: 25px;
                margin-bottom: 24px;
            }
            .integr_capabilities_description {
                font-size: 17px;
                margin-bottom: 40px;
            }
        }
    }
    background-color: $greyBackground;
    padding: 100px 20px;
    .alternative_wrapper {
        max-width: 1600px;
        @include margin-left-right-auto;
        width: 100%;
        padding: 25px 0;
        background-image: url("../images/integr/bgr_shema.jpg ");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 30px;
        @media (max-width: 1255px) {
            padding: 25px 20px;
            width: auto;
        }
        .wrapper {
            @include dsp-flex;
            @include justify-content-space-between;
            @include align-items-center;
            .alternative_capabilities {
                max-width: 550px;
                .alternative_capabilities_title {
                    font-size: 30px;
                    color: $white;
                    line-height: 1.2;
                    text-align: left;
                    margin-bottom: 15px;
                }
                .alternative_capabilities_description {
                    font-size: 16px;
                    color: $white;
                    line-height: 1.563;
                    text-align: left;
                }
            }
            .alternative_capabilities_img {
                max-width: 595px;
                width: 100%;
                height: auto;
                display: block;
            }
            @media (max-width: 1200px) {
                .alternative_capabilities {
                    .alternative_capabilities_title {
                        font-size: 25px;
                    }
                }
                .alternative_capabilities_img {
                    max-width: 490px;
                }
            }
            @media (max-width: 955px) {
                @include flex-direction-column;
                .alternative_capabilities {
                    max-width: 850px;
                    @include margin-left-right-auto;
                    .alternative_capabilities_title {
                        text-align: center;
                        font-size: 23px;
                    }
                    .alternative_capabilities_description {
                        text-align: center;
                    }
                    margin-bottom: 25px;
                }
                .alternative_capabilities_img {
                    max-width: 595px;
                    @include margin-left-right-auto;
                }
            }
            @media (max-width: 575px) {
                .alternative_capabilities {
                    .alternative_capabilities_title {
                        font-size: 20px;
                    }
                    .alternative_capabilities_description {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media (max-width: 915px) {
        padding-top: 85px;
        padding-bottom: 45px;
    }
    @media (max-width: 570px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}
.integr_example {
    padding: 100px 20px 50px;
    .wrapper {
        .example_title {
            font-size: 40px;
            color: $fonts;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 30px;
        }
        .example_description {
            font-size: 20px;
            color: $fontsLight;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 50px;
        }
        .example_items {
            @include dsp-flex;
            @include flex-wrap-wrap;
            @include justify-content-space-between;
            .example_item {
                max-width: 570px;
                width: 100%;
                .example_item_img {
                    max-width: 570px;
                    width: 100%;
                    height: auto;
                    display: block;
                    margin-bottom: 30px;
                }
                .example_item_bottom {
                    @include dsp-flex;
                    .example_item_bottom_check {
                        max-width: 40px;
                        max-height: 40px;
                        margin-top: 5px;
                        width: 100%;
                        height: auto;
                        display: block;
                        border-radius: 50%;
                        margin-right: 30px;
                    }
                    .example_item_bottom_content {
                        max-width: 430px;
                        width: 100%;
                        margin-bottom: 50px;
                        .example_item_bottom_control {
                            @include dsp-flex;
                            max-width: 430px;
                            width: 100%;
                            margin-bottom: 30px;
                            .example_item_control {
                                display: block;
                                width: 50%;
                                padding-bottom: 22px;
                                border-bottom: 1px solid #C8D8DF;
                                font-size: 15px;
                                color: rgba(94, 102, 139, 0.5);
                                font-weight: 700;
                                text-transform: uppercase;
                                line-height: 1.667;
                                text-align: center;
                            }
                            .active {
                                width: 50%;
                                color: #5e668b;
                                border-bottom: 3px solid #ffaf74;
                                padding-bottom: 20px;
                                margin-bottom: -1px;
                            }
                        }
                        .example_item_content {
                            display: none;
                            font-size: 16px;
                            color: rgb(72, 72, 70);
                            line-height: 1.563;
                            text-align: left;
                        }
                        .active {
                            display: block;
                        }
                    }
                }
            }
            @media (max-width: 1185px) {
                max-width: 570px;
                @include margin-left-right-auto;
                @include flex-direction-column;
            }
            @media (max-width: 500px) {
                .example_item {
                    .example_item_img {
                        margin-bottom: 20px;
                    }
                    .example_item_bottom {
                        .example_item_bottom_check {
                            display: none;
                        }
                        .example_item_bottom_content {
                            max-width: 455px;
                            .example_item_bottom_control {
                                max-width: 455px;
                                margin-bottom: 25px;
                            }
                            .example_item_content {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1200px) {
            .example_title {
                font-size: 35px;
            }
            .example_description {
                font-size: 19px;
                margin-bottom: 45px;
            }
        }
        @media (max-width: 915px) {
            .example_title {
                font-size: 30px;
                margin-bottom: 27px;
            }
            .example_description {
                font-size: 18px;
            }
        }
        @media (max-width: 570px) {
            .example_title {
                font-size: 25px;
                margin-bottom: 24px;
            }
            .example_description {
                font-size: 17px;
                margin-bottom: 40px;
            }
        }
    }
    @media (max-width: 915px) {
        padding-top: 85px;
        padding-bottom: 35px;
    }
    @media (max-width: 570px) {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}