.wrapper {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

section, footer {
	padding-left: 20px;
	padding-right: 20px;
}
.green {
	color: #B7F76D;
}
.black {
	color: #000000;
}
.accent {
	color: #ffb100;
}
.yellow {
	color: #ffd466;
}
.seven_hundred {
	font-weight: 700;
}
body {
	background: #FFFFFF;
}
